# dependencies
node_modules

# next.js
.next
out

# production build
build
dist

# debug logs
debug.log
*.log
npm-debug.log*

# env files
.env
.env*.local

# vercel
.vercel

# typescript
next-env.d.ts

# misc
.DS_Store
*.tsbuildinfo

# lock files (using bun)
package-lock.json
